/**********************************************/
/* caja */
/**********************************************/

.caja-notebook .view {
    background-color: @lighter_color;
    border: 1px solid @border_color;
}

/**********************************************/
/* mate-panel */
/**********************************************/

PanelApplet.wnck-applet .wnck-pager:selected {
    background-color: @selected_color;
}

MatePanelAppletFrameDBus > MatePanelAppletFrameDBus {
    background-image: url("../img/separator_vertical.png");
    background-repeat: no-repeat;
    background-position: left;
}
