* {
    -GtkMenu-horizontal-offset: -5px;
    -GtkScrollbar-has-backward-stepper: true;
    -GtkScrollbar-has-forward-stepper: true;
    -gtk-icon-style: regular;

    outline: dotted 1px;
    outline-offset: -4px;
}

/**********************************************/
/* background */
/**********************************************/

.background {
    background-color: @base_color;
    color: @black_color;
}

/**********************************************/
/* button */
/**********************************************/

button {
    background-color: @base_color;
    color: @black_color;
    padding: 4px;
    border: 1px solid @darker_border_color;
    box-shadow: inset 1px 1px @lighter_color, inset -1px -1px @darker_color;
}

button:checked {
    background-color: @darker_color;
    border: 1px solid @darker_border_color;
    box-shadow: inset -1px -1px @lighter_color;
}

button:disabled {
    color: @disabled_color;
    text-shadow: @white_color 1px 1px;
    background-color: @disabled_bg;
    -gtk-icon-effect: dim;
}

button:hover {
    background-color: @prelight_color;
}

button:active {
    background-color: @darker_color;
    box-shadow: inset -1px -1px @lighter_color;
}

button.flat {
    border: 1px solid transparent;
    box-shadow: none;
}

button.flat:disabled {
    background-color: @base_color;
    border: 1px solid transparent;
    box-shadow: none;
}

button.flat:hover {
    border: 1px solid @darker_border_color;
    box-shadow: inset 1px 1px @lighter_color, inset -1px -1px @darker_color;
}

button.flat:active {
    background-color: @darker_color;
    border: 1px solid @darker_border_color;
    box-shadow: inset -1px -1px @lighter_color;
}

button.link {
    color: @link_color;
    text-decoration: underline;
}

button.link:visited {
    color: @link_visited_color;
}

/**********************************************/
/* headerbar */
/**********************************************/

headerbar {
    background-color: @base_color;
}

/**********************************************/
/* menu */
/**********************************************/

menubar {
    padding: 1px 1px 0 1px;
    border-bottom: 1px solid @trough_bg_color;
}

menu {
    border: 1px solid @border_color;
    box-shadow: inset 1px 1px @lighter_color, inset -1px -1px @darker_color;
    padding: 4px 3px;
}

menuitem {
    padding: 2px 7px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

menu:active, menu:hover{
    background-color: @lighter_color;
    color: @black_color;
}

menuitem:active, menuitem:hover {
    background-image: linear-gradient(
            to bottom,
            @menuitem_top_color, @menuitem_bottom_color
        );
    color: @white_color;
    border: 1px solid @menuitem_border_color;
    box-shadow: inset 1px 1px @menuitem_light_color, inset -1px -1px @menuitem_dark_color;
}

/**********************************************/
/* toolbar */
/**********************************************/

toolbar {
    padding: 0 1px;
    border-top: 1px solid @prelight_color;
    border-bottom: 1px solid @trough_bg_color;
}

toolbar button {
    border: 1px solid transparent;
    box-shadow: none;
}

toolbar button:checked {
    background-color: @darker_color;
    border: 1px solid @darker_border_color;
    box-shadow: inset -1px -1px @lighter_color;
}

toolbar button:disabled {
    -gtk-icon-effect: dim;
    background-color: @base_color;
}

toolbar button:hover {
    background-color: @prelight_color;
    border: 1px solid @darker_border_color;
    box-shadow: inset 1px 1px @lighter_color, inset -1px -1px @darker_color;
}

toolbar button:active {
    background-color: @darker_color;
    border: 1px solid @darker_border_color;
    box-shadow: inset -1px -1px @lighter_color;
}

toolbar button:checked {
    border: 1px solid @darker_border_color;
    box-shadow: inset -1px -1px @lighter_color;
}

/**********************************************/
/* scale */
/**********************************************/

scale trough {
    margin: 1px;
    background-color: @trough_bg_color;
    border-left: 1.5px solid @trough_border_color;
    border-top: 1.5px solid  @trough_border_color;
    border-right: 1px solid @trough_border_color;
    border-bottom: 1px solid @trough_border_color;
    outline-offset: 6px;
}

scale.horizontal trough {
	padding-left: 14px;
	padding-right: 14px;
    margin: 7px 0;
}

scale.vertical trough {
	padding-top: 14px;
	padding-bottom: 14px;
    margin: 0 7px;
}

scale slider {
    background-color: @base_color;
    border: 1px solid @darker_border_color;
    border-radius: 3.5px;
    box-shadow: inset 1px 1px @lighter_color, inset -1px -1px @darker_color;
}

scale.horizontal slider {
    min-width: 29px;
    min-height: 13px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../img/scale_thumb_horizontal.png");
    margin: -6px 0;
}

scale.vertical slider {
    min-width: 13px;
    min-height: 29px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../img/scale_thumb.png");
    margin: 0 -6px;
}

scale indicator {
    min-width: 1px;
    min-height: 5px;
    background: @black_color;
}

/**********************************************/
/* progressbar */
/**********************************************/

progressbar {
    color: @black_color;
    background-color: @base_color;
}

progressbar.vertical trough {
    min-width: 20px;
    background-color: @darker_color;
    color: @black_color;
    border-left: 1px solid @inset_darker_color;
    border-top: 1px solid  @inset_darker_color;
    border-right: 1px solid @base_color;
    border-bottom: 1px solid @base_color;
}

progressbar.horizontal trough {
    min-height: 18px;
    background-color: @darker_color;
    color: @black_color;
    border-left: 1px solid @inset_darker_color;
    border-top: 1px solid  @inset_darker_color;
    border-right: 1px solid @base_color;
    border-bottom: 1px solid @base_color;
}

progressbar.vertical progress {
    min-width: 16px;
    background-color: @scale_color;
    border-left: 1px solid shade(@scale_color,1.3);
    border-top: 1px solid shade(@scale_color,1.3);
    border-right: 1.3px solid @black_color;
    border-bottom: 1.3px solid @black_color;
}

progressbar.horizontal progress {
    min-height: 14px;
    background-color: @scale_color;
    border-left: 1px solid shade(@scale_color,1.3);
    border-top: 1px solid shade(@scale_color,1.3);
    border-right: 1.3px solid @black_color;
    border-bottom: 1.3px solid @black_color;
}

progressbar.vertical text {
    margin-right: 25px;
}

/* progressbars are different in GtkTreeView (monitor) */
treeview.view.progressbar {
    min-height: 14px;
    background-color: @scale_color;
    border-left: 1px solid shade(@scale_color,1.3);
    border-top: 1px solid shade(@scale_color,1.3);
    border-right: 1.3px solid @black_color;
    border-bottom: 1.3px solid @black_color;
}

treeview.view.trough,
treeview.view.trough:selected {
    min-height: 18px;
    background-color: @darker_color;
    color: @black_color;
    border-left: 1px solid @inset_darker_color;
    border-top: 1px solid  @inset_darker_color;
    border-right: 1px solid @base_color;
    border-bottom: 1px solid @base_color;
}

/**********************************************/
/* scrollbar */
/**********************************************/

scrollbar trough {
	background-color: @trough_bg_color;
    border: 1px solid @trough_border_color;
}

scrollbar slider {
    background-color: @base_color;
    min-width: 11px;
    min-height: 27px;
    margin: -1px;
    border: 1px solid @darker_border_color;
    box-shadow: inset 1px 1px @lighter_color, inset -1px -1px @darker_color;
    padding: 1px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../img/scrollbar_thumb.png");
}

scrollbar.horizontal slider {
    background-image: url("../img/scrollbar_thumb_horizontal.png");
    min-width: 27px;
    min-height: 11px;
}

scrollbar slider:hover {
    background-color: @prelight_color;
}

scrollbar slider:active {
    background-color: @base_color;
}

scrollbar button {
    padding: 2px;
    min-width: 9px;
    min-height: 9px;
}

scrollbar.vertical button.up {
	-gtk-icon-source: url("../img/arrow-up.png");
}

scrollbar.vertical button.down {
	-gtk-icon-source: url("../img/arrow-down.png");
}

scrollbar.horizontal button.up {
    -gtk-icon-source: url("../img/arrow-left.png");
}

scrollbar.horizontal button.down {
    -gtk-icon-source: url("../img/arrow-right.png");
}

scrollbar.vertical button.up:disabled {
	-gtk-icon-source: url("../img/arrow-up-disabled.png");
}

scrollbar.vertical button.down:disabled {
	-gtk-icon-source: url("../img/arrow-down-disabled.png");
}

scrollbar.horizontal button.up:disabled {
	-gtk-icon-source: url("../img/arrow-left-disabled.png");
}

scrollbar.horizontal button.down:disabled {
	-gtk-icon-source: url("../img/arrow-right-disabled.png");
}

scrollbar button:hover {
    background-color: @prelight_color;
}

scrollbar button:active {
    background-color: @darker_color;
}

/**********************************************/
/* entry */
/**********************************************/

entry {
    background-color: @lighter_color;
    color: @black_color;
    padding: 3px;
    border: 1px solid @trough_border_color;
    box-shadow: inset 1px 1px @entry_shadow_color;
}

entry:disabled {
    background-color: @entry_disabled_bg;
    color: @disabled_color;
}

label:disabled {
    color: @disabled_color;
    text-shadow: @white_color 1px 1px;
}

/**********************************************/
/* view */
/**********************************************/

.view {
    background-color: @lighter_color;
}

.view:selected,
.view:selected:focus {
    background-color: @selected_color;
}

.view rubberband {
    background-color: alpha (@selected_color, 0.75);
    border: 1px solid @selected_color;
}

/**********************************************/
/* treeview */
/**********************************************/

treeview {
    background-color: @lighter_color;
}

/**********************************************/
/* textview */
/**********************************************/

textview selection {
    background-color: @selected_color;
    color: @lighter_color;
}

textview {
    background-color: @lighter_color;
    color: @black_color;
}

selection {
    background-color: @selected_color;
    color: @lighter_color;
}

/**********************************************/
/* iconview */
/**********************************************/

iconview {
    background-color: @lighter_color;
    color: @black_color;
}

/**********************************************/
/* notebook, tab */
/**********************************************/

/* Tabs */
notebook tab {
    background-color: @darker_color;
	padding: 3px 4px;
    border: 1px solid @darker_border_color;
    box-shadow: inset 1px 1px @lighter_color;
}

notebook tab:checked,
notebook tab:active {
    background-color: @base_color;
}

notebook.frame > stack {
    border: 1px solid @darker_border_color;
    box-shadow: inset 1px 1px @lighter_color, inset -1px -1px @darker_color;
    padding: 1px;
}

/* Blend tabs with their corresponding stack */
notebook > header.top {
    padding-top: 1px;
}

notebook.frame > header.top {
    margin-bottom: -1px;
}

notebook > header.top tab + tab {
    margin-left: -2px;
}

notebook > header.top tab:checked {
    border-bottom: 0px;
    box-shadow: inset 1px 1px @lighter_color, inset -1px 0 @darker_color;
}

notebook.frame > header.top tab:checked {
    margin-bottom: -1px;
}

notebook > header.bottom {
    padding-bottom: 1px;
}

notebook.frame > header.bottom tab {
    border-top: 0;
    box-shadow: inset 1px 0 @lighter_color;
}

notebook > header.bottom tab + tab {
    margin-left: -2px;
}

notebook > header.bottom tab:checked {
    border-top: 0;
    margin-bottom: -1px;
    box-shadow: inset 1px 0 @lighter_color, inset -1px -1px @darker_color;
}

notebook.frame > header.bottom tab:checked {
    margin-top: -2px;
}

notebook > header.left {
    padding-left: 1px;
}

notebook.frame > header.left {
    margin-right: -2px;
}

notebook > header.left tab + tab {
    margin-top: -2px;
}

notebook > header.left tab:checked {
    border-right: 0;
    margin-left: -1px;
    box-shadow: inset 1px 1px @lighter_color, inset 0 -1px @darker_color;
}

notebook.frame > header.left tab:checked {
    margin-right: -1px;
}

notebook > header.right {
    padding-right: 1px;
}

notebook.frame > header.right tab {
    border-left: 0;
    box-shadow: inset 0 1px @lighter_color;
}

notebook > header.right tab + tab {
    margin-top: -2px;
}

notebook > header.right tab:checked {
    border-left: 0;
    margin-right: -1px;
    box-shadow: inset 0 1px @lighter_color, inset -1px -1px @darker_color;
}

notebook.frame > header.right tab:checked {
    margin-left: -2px;
}

notebook scrolledwindow.frame {
margin-top: -1px;
border: 1px solid @border_color;
}

/**********************************************/
/* frame */
/**********************************************/

frame {
    background-color: @base_color;
    border: 1px solid @border_color;
    padding: 5px;
    margin-top: 0.5em;
}

frame > label {
    background-color: @base_color;
    margin-top: -1em;
}

/**********************************************/
/* statusbar */
/**********************************************/

statusbar frame {
    border: none;
    margin-top: 0px;
}

/**********************************************/
/* list */
/**********************************************/

list {
    border: 1px solid @border_color;
    padding: 7px;
    background-color: @lighter_color;
}

/**********************************************/
/* row */
/**********************************************/

row {
    background-color: @lighter_color;
    padding: 5px;
    border: none;
    }

row:selected {
    background-color: @selected_color;
    color: @lighter_color;
}

list row:active {
    background-color: @selected_color;
}

/**********************************************/
/* separator */
/**********************************************/

separator {
	margin: 0px;
	padding: 0px;
	border-top: 1px solid @border_color;
	border-left: 1px solid @border_color;
}

toolbar.horizontal separator {
    margin: 7px 5px;
}

toolbar.vertical separator {
    margin: 5px 7px;
}

menu separator {
	margin: 4px 6px 6px 6px;
	padding: 0px;
	border-top: 1px solid @separator_darker_color;
	border-bottom: 1px solid @separator_lighter_color;
}

paned.vertical separator {
    border: none;
	padding: 0px;
    background-image: url("../img/separator_horizontal.png");
    background-position: center center;
	background-repeat: no-repeat;
}

paned.horizontal separator {
    border: none;
	padding: 0px;
    background-image: url("../img/separator_vertical.png");
    background-position: center center;
	background-repeat: no-repeat;
}

/* separator in nautilus side panel */
paned list separator.horizontal {
	min-height:1px;
    background-image: none;
    border: none;
	border-top: 1px solid @base_color;
}

/**********************************************/
/* check, radio */
/**********************************************/

checkbutton, radiobutton {
    color: @black_color;
    background-color: @base_color;
    outline-offset: -2px;
}

checkbutton:hover, radiobutton:hover {
    background-color: @prelight_color;
}

checkbutton:disabled, radiobutton:disabled {
    color: @lighter_color;
}

check, check:hover {
    margin: 4px;
    padding: 1px;
    min-width: 9px;
    min-height: 9px;
    background-color: @white_color;
    border: 1px solid @check_button_border;
    box-shadow: inset 1px 1px @entry_shadow_color;
}

check:checked {
    -gtk-icon-source: url("../img/check.png");
}

radio, radio:hover {
    margin: 4px;
    padding: 2px;
    min-width: 7px;
    min-height: 7px;
    background-color: @white_color;
    border: 1px solid @check_button_border;
    border-radius: 6px;
    box-shadow: inset 1px 1px @entry_shadow_color;
}

radio:checked {
	-gtk-icon-source: url("../img/radio.png");
}

/* check and radio in menu */
menuitem check, menuitem radio, menuitem check:hover, menuitem radio:hover {
    background-color: transparent;
    border-width: 0;
    box-shadow: none;
    min-width: 8px;
    min-height: 7px;
}

menuitem check:checked {
	-gtk-icon-source: url("../img/menuitem-check-checked.png");
    min-width: 8px;
    min-height: 7px;
}

menuitem check:hover:checked {
    -gtk-icon-source: url("../img/menuitem-check-checked-hover.png");
}

menuitem check:disabled:checked {
	-gtk-icon-source: url("../img/menuitem-check-checked-disabled.png");
    min-width: 8px;
    min-height: 7px;
}

menuitem radio:checked {
    min-width: 5px;
    min-height: 5px;
	-gtk-icon-source: url("../img/menuitem-radio-checked.png");
}

menuitem radio:hover:checked {
    -gtk-icon-source: url("../img/menuitem-radio-checked-hover.png");
}

menuitem radio:disabled:checked {
    min-width: 5px;
    min-height: 5px;
	-gtk-icon-source: url("../img/menuitem-radio-checked-disabled.png");
}

/**********************************************/
/* tooltip */
/**********************************************/

tooltip {
    border: 1px solid @black_color;
}

tooltip.background {
    background-color: @tooltip_color;
}

/**********************************************/
/* popover */
/**********************************************/

popover {
    border: 1px solid @border_color;
    background-color: @base_color;
}

popover modelbutton {
	padding: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

popover modelbutton:hover, popover modelbutton:active {
    background-color: @selected_color;
}

/**********************************************/
/* switch */
/**********************************************/

switch {
    background-color: @darker_color;
    border: 1px solid @border_color;
}

switch:checked {
    background-color: @scale_color;
    color: @white_color;
    border: 1px solid @border_color;
}

switch:disabled {
    background-color: @disabled_bg;
    color: @disabled_color;
    border: 1px solid @border_color;
}

switch slider {
    color: @black_color;
    background-color: @base_color;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid @darker_border_color;
    padding: 1px;
    box-shadow: inset 1px 1px @lighter_color, inset -1px -1px @darker_color;
    margin: -1px;
}

switch:disabled slider {
    background-color: @disabled_bg;
}

switch:hover slider {
    background-color: @prelight_color;
}

/**********************************************/
/* arrow */
/**********************************************/

combobox arrow {  
	min-height: 15px;
	min-width: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../img/combobox-arrow-down.png");
    border-left: 1px solid @border_color;
}

combobox arrow:disabled {  
    background-image: url("../img/combobox-arrow-down-disabled.png");
}

combobox entry {
    padding: 4px;
}

combobox entry + button arrow {
    border: none;
}

combobox button {
    padding: 3px;
}

combobox entry + button {
    padding: 3px 4px;
}

menuitem arrow {
	min-height: 9px;
	min-width: 9px;
	-gtk-icon-source: url("../img/arrow-right.png");
}

menuitem:hover > arrow {
    -gtk-icon-source: url("../img/arrow-right-hover.png");
}

menuitem:disabled > arrow {
	-gtk-icon-source: url("../img/arrow-right-disabled.png");
}

expander arrow {
	min-width: 16px;
	min-height: 16px;
	-gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
	-gtk-icon-transform: rotate(-90deg);
	color: @black_color;
}

expander arrow:checked {
	-gtk-icon-transform: unset;
}

popover arrow.right {
	min-height: 9px;
	min-width: 9px;
	-gtk-icon-source: url("../img/arrow-right.png");
}

popover:hover > arrow.right {
    -gtk-icon-source: url("../img/arrow-right-hover.png");
}

popover arrow.left {
	min-height: 15px;
	min-width: 8px;
	-gtk-icon-source: url("../img/arrow-left.png");
}

popover:hover > arrow.left {
    -gtk-icon-source: url("../img/arrow-left-hover.png");
}

/**********************************************/
/* calandar */
/**********************************************/

calendar {
    background-color: @lighter_color;
    color: @black_color;
}

calendar:selected {
    background-color: @selected_color;
    color: @lighter_color;
}

calendar:indeterminate {
    color: @inset_lighter_color;
}
