/**********************************************/
/* OneStepBack theme; gtk3 part */
/* jpsb: July 2015 - April 2016 */
/***********************************************/

/**********************************************/
/* Color definitions */
/**********************************************/

@define-color white_color #ffffff;
@define-color lighter_color #ffffff;
@define-color base_color #e6e6e6;
@define-color darker_color #cccccc;
@define-color black_color #000000;
@define-color scale_color #718bc5;

@define-color selected_color #4464ac;
@define-color border_color #5c5c5c;
@define-color disabled_color #777777;
@define-color disabled_bg #eeeeee;

@define-color prelight_color #f5f5f5;

/* Old colors from image */
/*
@define-color menuitem_top_color #445F9B;
@define-color menuitem_bottom_color #5375C3;
*/

/* New colors (trial and error) */
@define-color menuitem_top_color #445E9A;
@define-color menuitem_bottom_color #5376C4;

@define-color separator_darker_color #CECECE;
@define-color separator_lighter_color @lighter_color;
@define-color toolbar_seperator_color #a1a1a1;

@define-color trough_border_color #999999;
@define-color trough_bg_color #c4c4c4;

/**********************************************/
/* Derived border colors */
/**********************************************/

@define-color inset_lighter_color shade(@base_color,0.9);
@define-color outset_lighter_color shade(@base_color,1.3);
@define-color inset_darker_color shade(@base_color,0.5);

/**********************************************/
/* Color names curiously hardcoded in some gnome applications */
/**********************************************/

@define-color theme_base_color @lighter_color;
@define-color theme_text_color @black_color;
@define-color theme_bg_color @base_color;
@define-color theme_fg_color @black_color;
@define-color theme_selected_bg_color @selected_color;
@define-color theme_selected_fg_color @white_color;
@define-color theme_tooltip_bg_color @base_color;
@define-color theme_tooltip_fg_color @black_color;

/**********************************************/
/* headerbar */
/**********************************************/

headerbar {
    background-color: @black_color; /* fond de barre */
    color: @black_color; /* séparations verticales dans la barre */
}

.titlebar .title {
    color: @white_color;
    font: bold;
}

.titlebar .title:backdrop {
    color: @base_color;
}

/* ombres des fenêtres */
decoration {
    /* arrondi des angles la barre de titre */
    border-radius: 4px 4px 0px 0px;

    /* the resize cursor area */
    margin: 10px;

    /* box-shadow: [inset] horizontal_offset vertical_offset blur_radius color; */
    box-shadow: 0 3px 3px 1px @darker_color, 0 0 0 1px @black_color;
}

decoration:backdrop {
    box-shadow: 0 3px 3px 1px @darker_color, 0 0 0 1px @black_color;
}

/***********************************************/
/* general */
/**********************************************/

* {
    -GtkScrollbar-has-backward-stepper: true;
    -GtkScrollbar-has-forward-stepper: true;
    -GtkScrollbar-has-secondary-forward-stepper: false;
    -GtkScrollbar-has-secondary-backward-stepper: false;

    -GtkWidget-window-dragging: true; /* behrz */
	}

.background {
    background-color: @base_color;
    color: @black_color;
}

/**********************************************/
/* button */
/**********************************************/

button {
    background-color: @base_color;
    color: @black_color;
    padding: 3px;
    border-image: url("../img/button-norm.png") 2 repeat;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
}

button:checked {
    background-color: @darker_color;
    border-image: url("../img/button-active.png") 2 repeat;
}

button:disabled {
    color: @disabled_color;
    text-shadow: @white_color 1px 1px;
    background-color: @disabled_bg;
    -gtk-icon-effect: dim;
}

button:hover {
    background-color: @prelight_color;
}

button:active {
    background-color: @darker_color;
    border-image: url("../img/button-active.png") 2 repeat;
}

headerbar button, headerbar button:active, headerbar button:selected {
    border: none;
    background-color: @black_color; /* fond de bouton de headerbarre */
    color: @white_color; /* couleur int bouton de barre */
}

headerbar button:checked { /* bouton de headerbarre actif */
    border: none;
    background-color: @black_color;
    color: @white_color;
    font: bold;
}

/**********************************************/
/* menu */
/**********************************************/

menubar {
    padding: 1px 1px 0 1px;
    border-image: url("../img/toolbar.png") 1 repeat;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid transparent;
    border-right: none;
}

menu {
    border-image: url("../img/menu.png") 2 repeat;
    padding: 4px 3px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
}

menuitem {
    padding: 1px 6px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
}

menu:active, menu:hover{
    background-color: @lighter_color;
    color: @black_color;
}

menuitem:active, menuitem:hover {
    background-image: linear-gradient(
            to bottom,
            @menuitem_top_color, @menuitem_bottom_color
        );
    color: @white_color;
    border-image: url("../img/menuitem-active.png") 2 repeat;
}

combobox menu {
    border-left: 1px solid @outset_lighter_color;
    border-top: 1px solid @outset_lighter_color;
    border-bottom: 1px solid @black_color;
    border-right: 1px solid @black_color;
}
  

/**********************************************/
/* toolbar */
/**********************************************/

toolbar {
    padding: 0 1px;
    border-image: url("../img/toolbar.png") 1 / 1px 0 repeat;
    border-left: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-width: 1px 0;
    border-right: none;
}

toolbar button {
    border: 2px solid transparent;
}

toolbar button:checked {
    background-color: @darker_color;
    border-image: url("../img/button-active.png") 2 repeat;
}

toolbar button:disabled {
    -gtk-icon-effect: dim;
    background-color: @base_color;
}

toolbar button:hover {
    border-image: url("../img/button-norm.png") 2 repeat;
    background-color: @prelight_color;
}

toolbar button:active {
    background-color: @darker_color;
    border-image: url("../img/button-active.png") 2 repeat;
}

toolbar button:checked {
    border-image: url("../img/button-active.png") 2 repeat;
}

/**********************************************/
/* scale */
/**********************************************/
 
scale trough {
    margin: 1px;
    background-color: @trough_bg_color;
    border-left: 1.5px solid @trough_border_color;
    border-top: 1.5px solid  @trough_border_color;
    border-right: 1px solid @trough_border_color;
    border-bottom: 1px solid @trough_border_color;
}

scale.horizontal trough {
	padding-left: 15px;
	padding-right: 15px;
}

scale.vertical trough {
	padding-top: 15px;
	padding-bottom: 15px;
}

scale.horizontal slider {
    min-width: 29px;
    min-height: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../img/scrollbar_thumb_horizontal.png");
    background-color: @base_color;
    border-left: 1px solid @outset_lighter_color;
    border-top: 1px solid @outset_lighter_color;
    border-right: 1.3px solid @black_color;
    border-bottom: 1.3px solid @black_color;
}

scale.vertical slider {
    min-width: 12px;
    min-height: 29px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../img/scrollbar_thumb.png");
    background-color: @base_color;
    border-left: 1px solid @outset_lighter_color;
    border-top: 1px solid @outset_lighter_color;
    border-right: 1.3px solid @black_color;
    border-bottom: 1.3px solid @black_color;
}

scale indicator {
    min-width: 1px;
    min-height: 5px;
    background: @black_color;
}

/**********************************************/
/* progressbar */
/**********************************************/

progressbar {
    color: @black_color;
    background-color: @base_color;
}

progressbar.vertical trough {
    min-width: 20px;
    background-color: @darker_color;
    color: @black_color;
    border-left: 1px solid @inset_darker_color;
    border-top: 1px solid  @inset_darker_color;
    border-right: 1px solid @base_color;
    border-bottom: 1px solid @base_color;
}

progressbar.horizontal trough {
    min-height: 18px;
    background-color: @darker_color;
    color: @black_color;
    border-left: 1px solid @inset_darker_color;
    border-top: 1px solid  @inset_darker_color;
    border-right: 1px solid @base_color;
    border-bottom: 1px solid @base_color;
}

progressbar.vertical progress {
    min-width: 16px;
    background-color: @scale_color;
    border-left: 1px solid shade(@scale_color,1.3);
    border-top: 1px solid shade(@scale_color,1.3);
    border-right: 1.3px solid @black_color;
    border-bottom: 1.3px solid @black_color;
}

progressbar.horizontal progress {
    min-height: 14px;
    background-color: @scale_color;
    border-left: 1px solid shade(@scale_color,1.3);
    border-top: 1px solid shade(@scale_color,1.3);
    border-right: 1.3px solid @black_color;
    border-bottom: 1.3px solid @black_color;
}

progressbar.vertical text {
    margin-right: 25px;
}

/* progressbars are different in GtkTreeView (monitor) */
treeview.view.progressbar {
    min-height: 14px;
    background-color: @scale_color;
    border-left: 1px solid shade(@scale_color,1.3);
    border-top: 1px solid shade(@scale_color,1.3);
    border-right: 1.3px solid @black_color;
    border-bottom: 1.3px solid @black_color;
}

treeview.view.trough,
treeview.view.trough:selected {
    min-height: 18px;
    background-color: @darker_color;
    color: @black_color;
    border-left: 1px solid @inset_darker_color;
    border-top: 1px solid  @inset_darker_color;
    border-right: 1px solid @base_color;
    border-bottom: 1px solid @base_color;
}

/**********************************************/
/* scrollbar */
/**********************************************/

scrollbar trough {
	background-color: @trough_bg_color;
    border: 1px solid @trough_border_color;
}

scrollbar slider {
    background-color: @base_color;
    min-width: 11px;
    min-height: 11px;
    margin: -1px;
    border-image: url("../img/button-norm.png") 2 repeat;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../img/scrollbar_thumb.png");
}

scrollbar.horizontal slider {
    background-image: url("../img/scrollbar_thumb_horizontal.png");
}

scrollbar slider:hover {
    background-color: @prelight_color;
}

scrollbar slider:active {
    background-color: @base_color;
}

scrollbar button {
    padding: 1px;
    min-width: 9px;
    min-height: 9px;
}

scrollbar.vertical button.up {
	-gtk-icon-source: url("../img/arrow-up.png");
}

scrollbar.vertical button.down {
	-gtk-icon-source: url("../img/arrow-down.png");
}

scrollbar.horizontal button.up {
    -gtk-icon-source: url("../img/arrow-left.png");
}

scrollbar.horizontal button.down {
    -gtk-icon-source: url("../img/arrow-right.png");
}

scrollbar.vertical button.up:disabled {
	-gtk-icon-source: url("../img/arrow-up-disabled.png");
}

scrollbar.vertical button.down:disabled {
	-gtk-icon-source: url("../img/arrow-down-disabled.png");
}

scrollbar.horizontal button.up:disabled {
	-gtk-icon-source: url("../img/arrow-left-disabled.png");
}

scrollbar.horizontal button.down:disabled {
	-gtk-icon-source: url("../img/arrow-down-disabled.png");
}

scrollbar button:hover {
    background-color: @prelight_color;
}

scrollbar button:active {
    background-color: @darker_color;
}

/**********************************************/
/* entry, treeview, textview, iconwiew */
/**********************************************/

entry {
    background-color: @lighter_color;
    color: @black_color;
    padding: 2px;
    border-left: 1.3px solid  @black_color;
    border-top: 1.3px solid  @black_color;
    border-right: 1px solid @inset_lighter_color;
    border-bottom: 1px solid @inset_lighter_color;
}

entry:disabled {
    background-color: @darker_color;
    color: @black_color;
}

label:disabled {
    color: @disabled_color;
    text-shadow: @white_color 1px 1px;
}

treeview {
    background-color: @lighter_color;
}

textview selection {
    background-color: @darker_color;
    color: @lighter_color;
}

textview {
    background-color: @lighter_color;
    color: @black_color;
}

selection {
    background-color: @darker_color;
    color: @lighter_color;
}

iconview {
    background-color: @lighter_color;
    color: @black_color;
}

/**********************************************/
/* frame, notebook, tab */
/**********************************************/

notebook {
    background-color: @base_color;
    color: @black_color;
    padding: 0px;
    border-left: 1px solid @outset_lighter_color;
    border-top: 1px solid @outset_lighter_color;
    border-right: 1.3px solid @black_color;
    border-bottom: 1.3px solid @black_color;
}

notebook frame {
    background-color: @base_color;
    border-left: 1px solid @outset_lighter_color;
    border-top: 1px solid @outset_lighter_color;
    border-right: 1.3px solid @black_color;
    border-bottom: 1.3px solid @black_color;
}

notebook tab {
    background-color: @darker_color;
    border: 1px solid @black_color;
	padding: 3px;
	margin: 0px;
}

notebook tab:checked,
notebook tab:active {
    background-color: @base_color;
    border: 1px solid @base_color;
}

frame {
    background-color: @base_color;
    border-left: 1.3px solid  @black_color;
    border-top: 1px solid  @black_color;
    border-right: 1px solid @outset_lighter_color;
    border-bottom: 1px solid @outset_lighter_color;
    padding: 5px;
}

/**********************************************/
/* list, row */
/**********************************************/

list {
    border-left: 1px solid @outset_lighter_color;
    border-top: 1px solid @outset_lighter_color;
    border-right: 1.3px solid @black_color;
    border-bottom: 1.3px solid @black_color;
    padding: 7px;
    background-color: @lighter_color;
}

row {
    background-color: @lighter_color;
    padding: 5px;
    border: none;
    }

row:selected {
    background-color: @darker_color;
    color: @lighter_color;
}

list row:active {
    background-color: @darker_color;
}

/**********************************************/
/* separator */
/**********************************************/

separator.vertical {
	margin: 0px;
	padding: 0px;
	border-left: 1px solid @separator_darker_color;
	border-right: 1px solid @separator_lighter_color;
}

separator.horizontal {
	margin: 0px;
	padding: 0px;
	border-top: 1px solid @separator_darker_color;
	border-bottom: 1px solid @separator_lighter_color;
}

toolbar separator {
	margin: 5px;
	margin-top: 7px;
	margin-bottom: 7px;
	border-top: 1px solid @toolbar_seperator_color;
	border-left: 1px solid @toolbar_seperator_color;
}

menu separator {
	margin: 4px 6px 6px 6px;
	padding: 0px;
	border-top: 1px solid @separator_darker_color;
	border-bottom: 1px solid @separator_lighter_color;
}

paned.vertical separator {
    border: none;
	padding: 0px;
    background-image: url("../img/separator_horizontal.png");
    background-position: center center;
	background-repeat: no-repeat;
}

paned.horizontal separator {
    border: none;
	padding: 0px;
    background-image: url("../img/separator_vertical.png");
    background-position: center center;
	background-repeat: no-repeat;
}

/* separator in nautilus side panel */
paned list separator.horizontal {
	min-height:1px;
    background-image: none;
    border: none;
	border-top: 1px solid @base_color;
}

/**********************************************/
/* check, radio */
/**********************************************/

checkbutton, radiobutton {
    color: @black_color;
    background-color: @base_color;
}

/*notebook checkbutton, notebook radiobutton {
    background-color: @lighter_color;
}*/

checkbutton:disabled, radiobutton:disabled {
    color: @lighter_color;
}

check {
    padding: 0px;
    border: none;
    margin: 5px;
    min-width: 13px;
    min-height: 13px;
	-gtk-icon-source: url("../img/check-unchecked.png");
}

check:checked {
	-gtk-icon-source: url("../img/check-checked.png");
}

radio {
    padding: 0px;
    border: none;
    margin: 5px;
    min-width: 13px;
    min-height: 13px;
	-gtk-icon-source: url("../img/radio-unchecked.png");
}

radio:checked {
    min-width: 13px;
    min-height: 13px;
	-gtk-icon-source: url("../img/radio-checked.png");
}

check:disabled {
    min-width: 11px;
    min-height: 11px;
	-gtk-icon-source: url("../img/check-disabled-unchecked.png");
}

radio:disabled {
    min-width: 11px;
    min-height: 11px;
	-gtk-icon-source: url("../img/radio-disabled-unchecked.png");
}

check:disabled:checked {
	-gtk-icon-source: url("../img/check-disabled-checked.png");
    min-width: 11px;
    min-height: 11px;
}

radio:disabled:checked {
	-gtk-icon-source: url("../img/radio-disabled-checked.png");
    min-width: 11px;
    min-height: 11px;
}

/* check and radio in menu */
menuitem check, menuitem radio {
	-gtk-icon-source: url("../img/menuitem-transparent.png");
    min-width: 8px;
    min-height: 7px;
}

menuitem check:checked {
	-gtk-icon-source: url("../img/menuitem-check-checked.png");
    min-width: 8px;
    min-height: 7px;
}

menuitem check:disabled:checked {
	-gtk-icon-source: url("../img/menuitem-check-checked-disabled.png");
    min-width: 8px;
    min-height: 7px;
}

menuitem radio:checked {
    min-width: 5px;
    min-height: 5px;
	-gtk-icon-source: url("../img/menuitem-radio-checked.png");
}

menuitem radio:disabled:checked {
    min-width: 5px;
    min-height: 5px;
	-gtk-icon-source: url("../img/menuitem-radio-checked-disabled.png");
}

/* handbrake/defaults audio; tweaktools/bureau*/
list row checkbutton, list row radiobutton {
    background-color: transparent;
    color: @black_color;
}

/* handbrake/defaults audio; tweaktools/bureau */
list row checkbutton label:disabled,
list row radiobutton label:disabled,
list row check:disabled,
list row radio:disabled {
    background-color: @transparent;
    color: @darker_color;
    min-width: 11px;
    min-height: 11px;
	-gtk-icon-source: url("../img/radio-disabled-unchecked.png");
}

/**********************************************/
/* tooltip */
/**********************************************/

tooltip {
    border: 1px solid @black_color;
}

/**********************************************/
/* popover */
/**********************************************/

popover {
    border-left: 1px solid @outset_lighter_color;
    border-top: 1px solid @outset_lighter_color;
    border-right: 1.3px solid @black_color;
    border-bottom: 1.3px solid @black_color;
}

popover modelbutton {
	padding: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

popover modelbutton:hover, popover modelbutton:active {
    background-color: @lighter_color;
}

/**********************************************/
/* switch */
/**********************************************/

switch {
	font: bold condensed;
    background-color: @base_color;
    color: @black_color;
    border-left: 1.3px solid @black_color;
    border-top: 1.3px solid @black_color;
    border-right: 1.3px solid @lighter_color;
    border-bottom: 1.3px solid @lighter_color;
}

switch:checked {
   background-color: @scale_color;
}

switch slider {
    background-color: @base_color;
    padding: 1px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../img/scrollbar_thumb.png");
    border-left: 1px solid @outset_lighter_color;
    border-top: 1px solid @outset_lighter_color;
    border-right: 1.3px solid @black_color;
    border-bottom: 1.3px solid @black_color;
}

switch:disabled {
    background-color: @darker_color;
    color: @base_color;
}

switch:disabled slider {
    background-color: @darker_color;
    border-left: 1px solid @base_color;
    border-top: 1px solid @base_color;
}

/**********************************************/
/* arrow */
/**********************************************/

combobox arrow {  
	min-height: 19px;
	min-width: 19px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../img/combobox-arrow-down.png");
}

combobox arrow:disabled {  
    background-image: url("../img/combobox-arrow-down-disabled.png");
}

menuitem arrow {
	min-height: 15px;
	min-width: 8px;
	-gtk-icon-source: url("../img/menuitem-arrow-right.png");
}

menuitem arrow:disabled {
	-gtk-icon-source: url("../img/menuitem-arrow-right-disabled.png");
}

expander arrow {
	min-width: 16px;
	min-height: 16px;
	-gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
	-gtk-icon-transform: rotate(-90deg);
	color: @black_color;
}

expander arrow:checked {
	-gtk-icon-transform: unset;
}

popover arrow.right {
	min-height: 15px;
	min-width: 8px;
	-gtk-icon-source: url("../img/menuitem-arrow-right.png");
}

popover arrow.left {
	min-height: 15px;
	min-width: 8px;
	-gtk-icon-source: url("../img/menuitem-arrow-left.png");
}

/**********************************************/
/* calandar */
/**********************************************/

calendar {
    background-color: @lighter_color;
    color: @black_color;
}

calendar:selected {
    background-color: @darker_color;
    color: @lighter_color;
}

calendar:indeterminate {
    color: @inset_lighter_color;
}

/**********************************************/
/* tweaks */
/**********************************************/
/* selection in evince */
.view:selected  {
    background-color: @darker_color;
    color: @lighter_color;
}

/* avoid border on the desktop when managed by nautilus */
nautilus-desktop-window *{
  border: none;
}

/* background of nautilus icon window */
/*.nautilus-window, .nautilus-window notebook {
  background-color: @lighter_color;
}*/

/**********************************************/
/* The End */
/**********************************************/

/* vim: set et ts=4 sw=4 : */
